{{- $cdn := .Scratch.Get "cdn" | default dict -}}
{{- $fingerprint := .Scratch.Get "fingerprint" -}}
{{- $params := .Scratch.Get "params" | default dict -}}
{{- $comment := $params.comment | default dict -}}
{{- $commentConfig := dict -}}
{{- if $comment.enable -}}
    <div id="comments">
        {{- /* Mastodon Comment System */ -}}
        {{- $mastodon := $comment.mastodon | default dict -}}
        {{- if $mastodon.enabled -}}
            <div id="mastodon-wrapper">
            <div id="mastodon-comments" class="comment">
              {{ with .Params.comments }}
                <section id="comments" class="article-content">
                  <h2>Comments</h2>
                  <p>With an account on the Fediverse or Mastodon, you can respond to this <a href="https://{{ .host }}/@{{ .username }}/{{ .id }}">POST</a>. Since Mastodon is decentralized, you can use your existing account hosted by another Mastodon server or compatible platform if you don't have an account on this one. Known non-private replies are displayed below.</p>
                  <p>Learn how this is implemented <a class="link" href="https://carlschwan.eu/2020/12/29/adding-comments-to-your-static-blog-with-mastodon/">here.</a></p>
                  <p id="mastodon-comments-list"><button id="load-comment">Load comments</button></p>
                  <div id="comments-wrapper">
                    <noscript><p>Loading comments relies on JavaScript. Try enabling JavaScript and reloading, or visit <a href="https://{{ .host }}/@{{ .username }}/{{ .id }}">the original post</a> on Mastodon.</p></noscript>
                  </div>
                  <noscript>You need JavaScript to view the comments.</noscript>
                  <script src="/assets/js/purify.min.js"></script>
                  <script type="text/javascript">
                    function escapeHtml(unsafe) {
                      return unsafe
                           .replace(/&/g, "&amp;")
                           .replace(/</g, "&lt;")
                           .replace(/>/g, "&gt;")
                           .replace(/"/g, "&quot;")
                           .replace(/'/g, "&#039;");
                    }
                    function emojify(input, emojis) {
                      let output = input;

                      emojis.forEach(emoji => {
                        let picture = document.createElement("picture");

                        let source = document.createElement("source");
                        source.setAttribute("srcset", escapeHtml(emoji.url));
                        source.setAttribute("media", "(prefers-reduced-motion: no-preference)");

                        let img = document.createElement("img");
                        img.className = "emoji";
                        img.setAttribute("src", escapeHtml(emoji.static_url));
                        img.setAttribute("alt", `:${ emoji.shortcode }:`);
                        img.setAttribute("title", `:${ emoji.shortcode }:`);
                        img.setAttribute("width", "20");
                        img.setAttribute("height", "20");

                        picture.appendChild(source);
                        picture.appendChild(img);

                        output = output.replace(`:${ emoji.shortcode }:`, picture.outerHTML);
                      });

                      return output;
                    }

                    function loadComments() {
                      let commentsWrapper = document.getElementById("comments-wrapper");
                      document.getElementById("load-comment").innerHTML = "Loading";
                      fetch('https://{{ .host }}/api/v1/statuses/{{ .id }}/context')
                        .then(function(response) {
                          return response.json();
                        })
                        .then(function(data) {
                          let descendants = data['descendants'];
                          if(
                            descendants &&
                            Array.isArray(descendants) &&
                            descendants.length > 0
                          ) {
                            commentsWrapper.innerHTML = "";

                            descendants.forEach(function(status) {
                                console.log(descendants)
                              if( status.account.display_name.length > 0 ) {
                                status.account.display_name = escapeHtml(status.account.display_name);
                                status.account.display_name = emojify(status.account.display_name, status.account.emojis);
                              } else {
                                status.account.display_name = status.account.username;
                              };

                              let instance = "";
                              if( status.account.acct.includes("@") ) {
                                instance = status.account.acct.split("@")[1];
                              } else {
                                instance = "{{ .host }}";
                              }

                              const isReply = status.in_reply_to_id !== "{{ .id }}";

                              let op = false;
                              if( status.account.acct == "{{ .username }}" ) {
                                op = true;
                              }

                              status.content = emojify(status.content, status.emojis);

                              let avatarSource = document.createElement("source");
                              avatarSource.setAttribute("srcset", escapeHtml(status.account.avatar));
                              avatarSource.setAttribute("media", "(prefers-reduced-motion: no-preference)");

                              let avatarImg = document.createElement("img");
                              avatarImg.className = "avatar";
                              avatarImg.setAttribute("src", escapeHtml(status.account.avatar_static));
                              avatarImg.setAttribute("alt", `@${ status.account.username }@${ instance } avatar`);

                              let avatarPicture = document.createElement("picture");
                              avatarPicture.appendChild(avatarSource);
                              avatarPicture.appendChild(avatarImg);

                              let avatar = document.createElement("a");
                              avatar.className = "avatar-link";
                              avatar.setAttribute("href", status.account.url);
                              avatar.setAttribute("rel", "external nofollow");
                              avatar.setAttribute("title", `View profile at @${ status.account.username }@${ instance }`);
                              avatar.appendChild(avatarPicture);

                              let instanceBadge = document.createElement("a");
                              instanceBadge.className = "instance";
                              instanceBadge.setAttribute("href", status.account.url);
                              instanceBadge.setAttribute("title", `@${ status.account.username }@${ instance }`);
                              instanceBadge.setAttribute("rel", "external nofollow");
                              instanceBadge.textContent = instance;

                              let display = document.createElement("span");
                              display.className = "display";
                              display.setAttribute("itemprop", "author");
                              display.setAttribute("itemtype", "http://schema.org/Person");
                              display.innerHTML = status.account.display_name;

                              let header = document.createElement("header");
                              header.className = "author";
                              header.appendChild(display);
                              header.appendChild(instanceBadge);

                              let permalink = document.createElement("a");
                              permalink.setAttribute("href", status.url);
                              permalink.setAttribute("itemprop", "url");
                              permalink.setAttribute("title", `View comment at ${ instance }`);
                              permalink.setAttribute("rel", "external nofollow");
                              permalink.textContent = new Date( status.created_at ).toLocaleString('en-US', {
                                dateStyle: "long",
                                timeStyle: "short",
                              });

                              let timestamp = document.createElement("time");
                              timestamp.setAttribute("datetime", status.created_at);
                              timestamp.appendChild(permalink);

                              let main = document.createElement("main");
                              main.setAttribute("itemprop", "text");
                              main.innerHTML = status.content;

                              let interactions = document.createElement("footer");
                              if(status.favourites_count > 0) {
                                let faves = document.createElement("a");
                                faves.className = "faves";
                                faves.setAttribute("href", `${ status.url }/favourites`);
                                faves.setAttribute("title", `Favorites from ${ instance }`);
                                faves.textContent = status.favourites_count;

                                interactions.appendChild(faves);
                              }

                              let comment = document.createElement("article");
                              comment.id = `comment-${ status.id }`;
                              comment.className = isReply ? "comment comment-reply" : "comment";
                              comment.setAttribute("itemprop", "comment");
                              comment.setAttribute("itemtype", "http://schema.org/Comment");
                              comment.appendChild(avatar);
                              comment.appendChild(header);
                              comment.appendChild(timestamp);
                              comment.appendChild(main);
                              comment.appendChild(interactions);

                              if(op === true) {
                                comment.classList.add("op");

                                avatar.classList.add("op");
                                avatar.setAttribute(
                                  "title",
                                  "Blog post author; " + avatar.getAttribute("title")
                                );

                                instanceBadge.classList.add("op");
                                instanceBadge.setAttribute(
                                  "title",
                                  "Blog post author: " + instanceBadge.getAttribute("title")
                                );
                              }
                              commentsWrapper.innerHTML += DOMPurify.sanitize(comment.outerHTML);
                              document.getElementById("load-comment").innerHTML = "Loaded";
                              document.getElementById("load-comment").classList.add("hidden");
                            });
                          }
                        });
                      }
                      document.getElementById("load-comment").addEventListener("click", loadComments);
                  </script>
                </section>
                {{ end }}
            </div>
            </div>
        {{- end -}}
        
        {{- /* Disqus Comment System */ -}}
        {{- $disqus := $comment.disqus | default dict -}}
        {{- if $disqus.enable -}}
            <div id="disqus_thread" class="comment"></div>
            {{- $source := printf "https://%v.disqus.com/embed.js" $disqus.shortname -}}
            {{- dict "Source" $source "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
            <noscript>
                Please enable JavaScript to view the comments powered by <a href="https://disqus.com/?ref_noscript">Disqus</a>.
            </noscript>
        {{- end -}}

        {{- /* Gitalk Comment System */ -}}
        {{- $gitalk := $comment.gitalk | default dict -}}
        {{- if $gitalk.enable -}}
            <div id="gitalk" class="comment"></div>
            {{- $source := $cdn.gitalkCSS | default "lib/gitalk/gitalk.css" -}}
            {{- dict "Source" $source "Minify" true "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/style.html" -}}
            {{- $source := $cdn.gitalkJS | default "lib/gitalk/gitalk.min.js" -}}
            {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
            {{- $commentConfig = dict "id" .Date "title" .Title "clientID" $gitalk.clientId "clientSecret" $gitalk.clientSecret "repo" $gitalk.repo "owner" $gitalk.owner "admin" (slice $gitalk.owner) | dict "gitalk" | merge $commentConfig -}}
            <noscript>
                Please enable JavaScript to view the comments powered by <a href="https://github.com/gitalk/gitalk"></a>Gitalk</a>.
            </noscript>
        {{- end -}}

        {{- /* Valine Comment System */ -}}
        {{- $valine := $comment.valine | default dict -}}
        {{- if $valine.enable -}}
            <div id="valine" class="comment"></div>
            {{- $options := dict "targetPath" "lib/valine/valine.min.css" -}}
            {{- dict "Source" "lib/valine/valine.scss" "ToCSS" $options | dict "Scratch" .Scratch "Data" | partial "scratch/style.html" -}}
            {{- $source := $cdn.valineJS | default "lib/valine/Valine.min.js" -}}
            {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
            {{- $commentConfig = dict "el" "#valine" "appId" $valine.appId "appKey" $valine.appKey "lang" ($valine.lang | default (T "valineLang")) "visitor" $valine.visitor "recordIP" $valine.recordIP "placeholder" ($valine.placeholder | default (T "valinePlaceholder")) "highlight" (ne $valine.highlight false) "enableQQ" $valine.enableQQ | dict "valine" | merge $commentConfig -}}
            {{- with $valine.avatar -}}
                {{- $commentConfig = dict "avatar" . | dict "valine" | merge $commentConfig -}}
            {{- end -}}
            {{- with $valine.meta -}}
                {{- $commentConfig = dict "meta" . | dict "valine" | merge $commentConfig -}}
            {{- end -}}
            {{- with $valine.pageSize -}}
                {{- $commentConfig = dict "pageSize" . | dict "valine" | merge $commentConfig -}}
            {{- end -}}
            {{- with $valine.serverURLs -}}
                {{- $commentConfig = dict "serverURLs" . | dict "valine" | merge $commentConfig -}}
            {{- end -}}
            {{- $commentConfig = $valine.emoji | default "google.yml" | printf "lib/valine/emoji/%v" | resources.Get | transform.Unmarshal | dict "valine" | merge $commentConfig -}}
            <noscript>
                Please enable JavaScript to view the comments powered by <a href="https://valine.js.org/">Valine</a>.
            </noscript>
        {{- end -}}

        {{- /* Facebook Comment System */ -}}
        {{- $facebook := $comment.facebook | default dict -}}
        {{- if $facebook.enable -}}
            <div id="fb-root" class="comment"></div>
            <div
                class="fb-comments"
                data-href="{{ .Permalink }}"
                data-width="{{ .facebook.width }}"
                data-numposts="{{ .facebook.numPosts }}"
            ></div>
            {{- $source := printf "https://connect.facebook.net/%v/sdk.js#xfbml=1&version=v5.0&appId=%v&autoLogAppEvents=1" ($facebook.languageCode | default (T "facebookLanguageCode")) $facebook.appId -}}
            {{- dict "Source" $source "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
            <noscript>
                Please enable JavaScript to view the comments powered by <a href="https://developers.facebook.com/docs/plugins/comments/"></a>Facebook</a>.
            </noscript>
        {{- end -}}

        {{- /* Telegram Comments System */ -}}
        {{- $telegram := $comment.telegram | default dict -}}
        {{- if $telegram.enable -}}
            <div id="telegram-comments" class="comment">
                {{- $attr := printf `data-comments-app-website="%v"` $telegram.siteID -}}
                {{- $attr = printf `%v data-limit="%v"` $attr ($telegram.limit | default 5) -}}
                {{- with $telegram.height -}}
                    {{- $attr = printf `%v data-height="%v"` $attr . -}}
                {{- end -}}
                {{- with $telegram.color -}}
                    {{- $attr = printf `%v data-color="%v"` $attr . -}}
                {{- end -}}
                {{- if $telegram.colorful -}}
                    {{- $attr = printf `%v data-colorful="1"` $attr -}}
                {{- end -}}
                {{- if $telegram.dislikes -}}
                    {{- $attr = printf `%v data-dislikes="1"` $attr -}}
                {{- end -}}
                {{- if $telegram.outlined -}}
                    {{- $attr = printf `%v data-outlined="1"` $attr -}}
                {{- end -}}
                {{- dict "Source" "https://comments.app/js/widget.js?3" "Defer" true "Attr" $attr | partial "plugin/script.html" -}}
                <noscript>
                    Please enable JavaScript to view the comments powered by <a href="https://comments.app/">Telegram Comments</a>.
                </noscript>
            </div>
        {{- end -}}

        {{- /* Commento Comment System */ -}}
        {{- $commento := $comment.commento | default dict -}}
        {{- if $commento.enable -}}
            <div id="commento" class="comment"></div>
            {{- dict "Source" "https://cdn.commento.io/js/commento.js" "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
            <noscript>
                Please enable JavaScript to view the comments powered by <a href="https://commento.io/">Commento</a>.
            </noscript>
        {{- end -}}

        {{- /* utterances Comment System */ -}}
        {{- $utterances := $comment.utterances | default dict -}}
        {{- if $utterances.enable -}}
            <div id="utterances" class="comment"></div>
            {{- $commentConfig = dict "repo" $utterances.repo | dict "utterances" | merge $commentConfig -}}
            {{- $commentConfig = $utterances.issueTerm | default "pathname" | dict "issueTerm" | dict "utterances" | merge $commentConfig -}}
            {{- $commentConfig = dict "label" $utterances.label | dict "utterances" | merge $commentConfig -}}
            {{- $commentConfig = $utterances.lightTheme | default "github-light" | dict "lightTheme" | dict "utterances" | merge $commentConfig -}}
            {{- $commentConfig = $utterances.darkTheme | default "github-dark" | dict "darkTheme" | dict "utterances" | merge $commentConfig -}}
            <noscript>
                Please enable JavaScript to view the comments powered by <a href="https://utteranc.es/">utterances</a>.
            </noscript>
        {{- end -}}

        {{- /* giscus Comment System */ -}}
        {{- $giscus := $comment.giscus | default dict -}}
        {{- if $giscus.enable -}}
            <div id="giscus" class="comment"></div>
            {{- $commentConfig = dict "repo" $giscus.repo | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = dict "repoId" $giscus.repoId | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = dict "category" $giscus.category | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = dict "categoryId" $giscus.categoryId | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.lang | default (T "valineLang") | dict "lang" | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.mapping | default "pathname" | dict "mapping" | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.reactionsEnabled | default "1" | dict "reactionsEnabled" | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.emitMetadata | default "0" | dict "emitMetadata" | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.inputPosition | default "bottom" | dict "inputPosition" | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.lazyLoading | default false | dict "lazyLoading" | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.lightTheme | default "github-light" | dict "lightTheme" | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.darkTheme | default "github-dark" | dict "darkTheme" | dict "giscus" | merge $commentConfig -}}
            <noscript>
                Please enable JavaScript to view the comments powered by <a href="https://giscus.app">Giscus</a>.
            </noscript>
        {{- end -}}
    </div>
{{- end -}}

{{- dict "comment" $commentConfig | dict "config" | merge (.Scratch.Get "this") | .Scratch.Set "this" -}}
